<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.daixiaodong.myapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
      <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    -->
    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="萌想"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="leancloud"
            android:value="LeanCloud" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a9006167e58ec10b004054" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="fir" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity_"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignInActivity_"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SignUpFirstStepActivity_" />
        <activity
            android:name=".activity.SignUpSecondStepActivity_"
            android:label="@string/title_activity_sign_up_second_step"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity_"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.PasswordResetActivity_" />
        <activity android:name=".activity.IdeaDetailActivity_" />
        <activity android:name=".activity.PublishIdeaActivity_" />
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />

        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver android:name=".receiver.PushBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="cn.daixiaodong.myapp.push" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <!-- bmob pay sdk activity begin ,please put below code into application tag -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.bmob.pay.tool.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bmob pay sdk activity end -->

        <activity android:name=".activity.UserProfileActivity_">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="daixiaodong.cn"
                    android:scheme="user_profile" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".activity.AssociationTopicActivity_"
            android:label="@string/title_activity_topic" />
        <activity
            android:name=".activity.CollegeActivity_"
            android:label="@string/title_activity_college" />
        <activity
            android:name=".activity.AssociationDetailActivity_"
            android:label="@string/title_activity_association" />
        <activity
            android:name=".activity.RegistrationInformationActivity_"
            android:label="@string/title_activity_registration_information" />
        <activity
            android:name=".chat.LeanCloudChat"
            android:label="@string/title_activity_lean_cloud_chat" />
        <activity
            android:name=".activity.EditIdeaDetailActivity"
            android:label="@string/title_activity_edit_idea_detail" />
        <activity
            android:name=".activity.UpdateIdeaActivity_"
            android:label="@string/title_activity_idea_edit" />
        <activity
            android:name=".activity.UpdateActivity_"
            android:label="@string/title_activity_update_recruitment" />
        <activity
            android:name=".activity.UserJoinActivity_"
            android:label="@string/title_activity_user_join" />
        <activity
            android:name=".activity.SignUpFirstStepNewActivity_"
            android:label="@string/title_activity_sign_up_first_step_new"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.daixiaodong.myapp.activity.common.BaseActivity" />

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.SignUpSecondStepNewActivity_"
            android:label="@string/title_activity_sign_up_second_step_new"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.daixiaodong.myapp.activity.common.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.UserPublishActivity_"
            android:label="@string/title_activity_user_publish" />
        <activity
            android:name=".activity.CommentActivity_"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".activity.SignInByEmailActivity"
            android:label="@string/title_activity_sign_in_by_email"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>
